<main>
    <img id="sadFaceImg"
        src="https://anxietypanichealth.com/wp-content/uploads/2016/11/Depositphotos_19746411_600x600.jpg"
        alt="sad face" />
    <h1>404</h1>
    <h2>Page not found</h2>
</main>